/* start var */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* end var */
/* start box */
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.f-1 {
    flex: 1;
}
.d-block {
    display: block;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
}
@media (max-width: 767px) {
    .flex-col {
        flex-direction: column;
    }
}
/* end box */
/* start margin + padding  */
.p-20 {
    padding: 20px;
}
.p-10 {
    padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.p-5 {
    padding: 5px;
}
.p-4 {
    padding: 4px;
}
.pt-4 {
    padding-top: 4px;
}
.pr-4 {
    padding-right: 4px;
}
.pb-4 {
    padding-bottom: 4px;
}
.pl-4 {
    padding-left: 4px;
}
.pt-15 {
    padding-top: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.p-15 {
    padding: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.p-25 {
    padding: 25px;
}
.pt-25 {
    padding-top: 25px;
}
.pr-25 {
    padding-right: 25px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pl-25 {
    padding-left: 25px;
}
.m-20 {
    margin: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.m-10 {
    margin: 10px;
}
.m-5 {
    margin: 5px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.m-25 {
    margin: 25px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-25 {
    margin-right: 25px;
}
.mb-25 {
    margin-bottom: 25px;
}
.ml-25 {
    margin-left: 25px;
}
.w-fit {
    width: fit-content;
}
/* end margin + padding  */
/* start color  */
.bg-white {
    background-color: #fff;
}
.c-black {
    color: #000;
}
.c-white {
    color: #fff;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-red {
    color: var(--red-color);
}
.c-green {
    color: var(--green-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-blue-alt {
    color: var(--blue-alt-color);
}
/* end color  */
/* start position */
.p-relative {
    position: relative;
}
/* end position */
/* start fonts  */
.text-c {
    text-align: center;
}
.text-r {
    text-align: right;
}
.text-l {
    text-align: left;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
.fs-25 {
    font-size: 25px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fw-normal {
    font-weight: normal;
}
.fs-13 {
    font-size: 13px;
}
.fw-bold {
    font-weight: bold;
}
/* end fonts  */
/* start border  */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
}
.border-b-eee {
    border-bottom: 1px solid #eee;
}
/* end  border  */
/* start mobile */
@media (max-width:767px) {
    .mobile-none {
    display: none;
    }
}
/* end mobile */
/* start dimension */
.w-full  {
    width: 100%;
}
/* end  dimension */
/* start componant */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* end componant */